body{
    background: url(background/achtergrond.jpg);
    width:100%;
    margin:auto;
    background-color: blue
}


#logo{
    width: 5%;
    margin-right:100% ;
    margin-bottom: -3%

    
    
}

#logo.hover{
       color: deepskyblue;
    background:none;
    opacity: 0.9;
    font-size:120%;
    transition-duration: 0.3s;
    text-shadow: 10px 10px 24px black;
}





}


img{
    display: inline-block;
}


#afbeelding{
    width: 25%;
    height: auto;
  
}

#afbeelding2{
    width: 25%;
    height: auto;
    margin-left: 12%
}

#afbeelding3{
    width: 25%;
    height: auto;
  
}



#footer{
background:#333;;
padding-top:5px;
padding-bottom:5px;
font-size:20px;
color:white;
text-transform: capitalize;
border-top:solid;
opacity:0.9;
}



#textmenu{
    margin-left: 100px; 
    background:none;
}



.topnav {
  overflow: hidden;
  background-color: #333;
}

.knoppen1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    color:white;
    background:none;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    margin-left: ;
    text-align: center;
    

}

.knoppen{
      float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    color:white;
    background:none;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    margin-left: ;
    text-align: center;
}

.topnav a:hover {
  background-color: transparent;
  color: black;
}

.icon {
  display: none;
height: 30px;
    width: 20px;
    color: white;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

#knop1{
    margin-left: 20%; ;
}

.fotowrapper{
    margin-left:;
}


h2{
color: white;
    text-align: center;
}



#sitemap {
  margin: 0;
  padding: 0;
  list-style: none;
}
     

#sitemap a {
  color:#fff;
  text-decoration: none;
  display: block;
  background-color: #575352;

}
     

  #sitemap {
    background: #333;
    padding: 1.5em 0;
    border-bottom: 1px solid #878382;
    overflow: hidden;
      
  }
         
  #sitemap li {
      border: 0;
}
         
  #sitemap a {
    padding: 0.75em 0 0.75em 5%;
    float: left;
    background-color: transparent;
    background-image: none;
    border-width: 0;
      
  }
         
  #sitemap a:hover {
    background-color: transparent;
    background-image: none;   
    color: black;
  }

#sitemap1{
    margin-left: 20%;
}



.mySlides {
    display:none;
}

.slides{animation:fading 6s infinite}@keyframes fading{
    0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

.content{
    margin:auto;
    margin-left: 20%;
}
.section{
    margin-top:16px!important;margin-bottom:16px!important
}

#foto{
    width: 80%;
    height: 300px;
}


.knoppen:hover{
    color: white;
    background: black;
    opacity: 0.9;
    transition-duration: 0.7s;
    box-shadow: 10px 10px 24px transparent;
}

.knoppen1:hover{
    color: white;
    background: black;
    opacity: 0.9;
    transition-duration: 0.7s;
    box-shadow: 10px 10px 24px black;
}


.linkwrapper{
    background: ;
    height: 10%;
    width: 10%;
    display: inline-block;
    float:left;
    margin-right: 20px;
    margin-top: -4%;
}
p{
    color: #f2f2f2;
}
.hosting{
    color: #f2f2f2;
    font-size: 120%;
    width: 40%;
    margin-left: 30%;
}

#tekst2{
    width: 60%;
    margin-left: 30%;
}