body{
	background-image:url("afbeeldingen/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 100%;
    margin-left: 17%;
}
header{
	background:;
}
#logo{
	background:transparent;
	height:100px;
    width: 932px;
    background: url(afbeeldingen/webhosting2.jpg) no-repeat; 
    background-size: cover;
    padding: 20px 0px 0px 50px;
    border-bottom-right-radius: ;
}
#menubalk{
      height: 30px;
    text-align: center;
    background: blue;
    width: auto;
    height: 20px;
    border-radius: ;
    position: static;
    padding-top: -100px;
    padding-bottom: 20px;
    margin-top: -25px;
    background: url();
    margin-left: ;
    
}

#menubalk ul{
    height: 0px;
    list-style-type: none;
    display:inline;
    margin-left: 0px;
    padding-left: 0px;
}
#menubalk li{
    display: inline;
    margin-left: 0px;
}
#menubalk a{
    color:white;
    background: blue;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    margin-right: 10px;
    text-decoration-style:double; 
    text-decoration: none;

}
#menubalk a:hover{
    color: white;
    background: red;
    opacity: 0.9;
    transition-duration: 0.7s;
    box-shadow: 10px 10px 24px black;
}
#menubalk ul{
    list-style-type: none;
    display:inline;
    margin-left: 0px;
    padding-left: 0px;
}
#menubalk li{
    display: inline;
    margin-left: 0px;
}
.knoppen{
     color:white;
    background: blue;
    text-transform:uppercase;
    text-decoration:none;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    margin-right: 10px;
    text-decoration-style:double; 
    text-decoration: none;
    display: inline;
}
.knoppen:hover{
    color: white;
    background: red;
    opacity: 0.9;
    transition-duration: 0.7s;
    box-shadow: 10px 10px 24px black;
}
p{
    color: white;
}
h2{
    color: white;
    text-align: center;
}
#tekstlogo{
    color: white;
}
.fotos{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 14px;
}
#foto2{
    position: static;
}

video{
    width:655px;
    height: 350px;
    margin-left: 50px;
}

#footer2{
    width:; 
    margin-left: -200px;
}
.fotowrapper{
    margin-left: 150px;
}
.linkwrapper{
    background: ;
    height: 170px;
    width: 150px;
    display: inline-block;
    float:left;
    margin-right: 20px;
}

.contentwrapper{
    width: 632px;
    display: inline-block;
}
.sitemapwrapper{
    width: 1000px;
    height: 150px;
    margin-left: -100px;
  
}
#sitemap1{
    width: 300px;
    height: 150px;
    float: left;
    margin-right: 30px;
    text-align: center;
}

#sitemap2{
    width: 300px;
    height: 150px;
    float:left;
    margin-right: 30px;
    text-align: center;
}

#sitemap3{
    width: 300px;
    height: 150px;
    float: left;
    margin-right: 30px;
    text-align: center;
   
}
.sitemap{
    color: red;
}